<ion-header>
  
</ion-header>

<ion-content [fullscreen]="true">
  <img id="logo" src="../../assets/logo_QCSCM.png" />
  <h1>Veuillez vous identifier : </h1>

  <ion-item>
    <ion-input [(ngModel)]="id" type="text" value="" placeholder="identifiant"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="password" type="password" value="" placeholder="mot de passe"></ion-input>
  </ion-item>
    
      <ion-item id="element">
        <ion-button size="medium" (click)="login()" >
          <ion-icon slot="start" name="people"></ion-icon>
           Connexion 
        </ion-button>&nbsp;
      <ion-label>Restez connecter</ion-label>
      <ion-toggle [(ngModel)]="stayConnected"></ion-toggle>
    </ion-item>

  
</ion-content>
