#logo{
    padding-top: 5vh;
    width: 60vw;
    margin-left: 20vw;
    margin-right: 20vw;
}

h1 {
    text-align: center;
}

#element{
    width: 100vw;
    text-align: center;
    vertical-align: middle;



}